.header {
  position: absolute;
  width: 100%;
  padding-left: 55px;
  padding-top: 45px;
  opacity: 1;
  display: inline-block;
  transition: .4s ease;

}

.header:hover{
  opacity: .4;
}

.topnav {
  position: absolute;
  padding-top: 35px;
  padding-right: 55px;
  right: 0px;
}

.topnav a{
  color: #2b2b2b;
  font-family: 'Josefin Sans';
  font-weight: lighter;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: .5s ease;
}

/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: none;
  color: #3f9c9d;
}

#sliderbox{
  position: relative;
  width: 3100px;
  top: 130px;
  opacity: .9;

}

#sliderbox img{
  float: left;
  padding: 0 7px;
}


#sliderbox2{
  position: relative;
  width: 1077px;
  top: 200px;
  opacity: .9;
}

#sliderbox2 img{
  float: left;
  padding: 7px 7px;
}

#sliderbox2 img:hover {
  opacity: .4;
}

.btn-group {
  padding-top: 100px;

}

.card {
  padding-left: 7px;
  padding-right: 7px;

}

.card-title {
  font-size: 14px;

}
.card-text {
  font-size: 14px;
  padding-bottom: 15px;
}

.column {
  margin-top: 100px;
  float: left;
  width: 20%;


}


body {
  background-color: #efebe7;

}

h1 {
  margin-left:5%;
  font-family: arial;
}

table {
  border: 2px solid grey;
  border-collapse: collapse;
  text-align: left;
  padding: 15px;
  width: 90%;
  margin-left:5%;
  margin-right:5%;
  margin-bottom: 5%;
}
th {
  border: 1px solid grey;
  border-collapse: collapse;
  text-align: center;
  padding: 15px;
  font-family: 'Josefin Sans';
  font-weight: lighter;


}
td {
  border: 1px solid grey;
  border-collapse: collapse;
  text-align: center;
  padding: 15px;
  font-family: 'Arial';
  font-style: italic;

}
tr:nth-child(even) {
  background-color: #99b5b7;
}
tr:nth-child(odd) {
  background-color: #d6d9d9;
}
