<!doctype html>
<html lang="en">
<head>
  <!-- Styles.css -->
  <link rel="stylesheet" href="../static/css/styles.css">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>INSERT TITLE HERE</title>

</head>

<div class="header">
  <a href="/"><img src=../static/images/sixlogo2.png width=100/></a>
</div>

<div class="topnav">
  <a href="/">BOOKS</a>
  <a href="/">PUBLISHERS</a>
  <a href="/">AUTHORS</a>
  <a href="/about">ABOUT</a>
</div>

<body>
  <!-- Insert Body Here -->
</body>

</html>
