<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Josefin+Sans|Montserrat&display=swap" rel="stylesheet">

    <title>AUTHORS</title>
    <style>
    h1 {
      text-align: center;
    }

    table {
      border: 2px solid grey;
      border-collapse: collapse;
      text-align: left;
      padding: 15px;
      width: 90%;
      margin-left:5%;
      margin-right:5%;
      margin-bottom: 5%;
    }
    th {
      border: 1px solid grey;
      border-collapse: collapse;
      text-align: center;
      padding: 15px;
      font-family: 'Josefin Sans';
      font-weight: lighter;


    }
    td {
      border: 1px solid grey;
      border-collapse: collapse;
      text-align: center;
      padding: 15px;
      font-family: 'Arial';
      font-style: italic;

    }
    tr:nth-child(even) {
      background-color: #99b5b7;
    }
    tr:nth-child(odd) {
      background-color: #d6d9d9;
    }
    </style>

  </head>

  <div class="header">
  <a href="/"><img src=../static/images/sixlogo2.png width=100/></a>
</div>
<br>
<div class="topnav">
  <a href="/books">BOOKS</a>
  <a href="/publishers">PUBLISHERS</a>
  <a href="/authors">AUTHORS</a>
  <a href="/about">ABOUT</a>
</div>
<body>

<div class='column'>
<div class="card">
      <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/J._K._Rowling_2010.jpg/220px-J._K._Rowling_2010.jpg" class="card-img-top" alt="..." style="width:200px;">
      <div class="card-body">
        <h5 class="card-title">J. K. Rowling</h5>
        <i><p class="card-text">Date of Birth: DD/MM/YYYY</p></i>
        <h5 class="card-text">Nationality: British</h5>
        <a href="https://en.wikipedia.org/wiki/J._K._Rowling" class="btn btn-primary">Website</a>
      </div>
    </div>
</div>

</body>
</html>