.header {
  position: fixed;
  width: 100%;
  padding-left: 55px;
  padding-top: 45px;
  opacity: 1;
  display: inline-block;
  transition: .5s ease;

}

.header:hover{
  opacity: .4
}

.topnav {
  padding: 55px;
  position: fixed;
  right: 0;

}

.topnav a{
  color: #2b2b2b;
  font: arial;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: .5s ease;
}

/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: none;
  color: #3f9c9d;
}

#sliderbox{
  position: relative;
  width: 2000px;
  top: 80px;
  opacity: .9;

}

#sliderbox img{
  float: left;
  padding: 0 7px;
}
